# Esercizio W14D4

In [18]:
pip install PyMySQL

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: PyMySQL in c:\users\hp\appdata\roaming\python\python311\site-packages (1.1.1)

In [19]:
pip install SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install python_dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python_dotenv in c:\programdata\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import os
import dotenv
import pandas as pd
from sqlalchemy import create_engine

dotenv.load_dotenv(dotenv_path=".env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

dotenv.load_dotenv(override=True)
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(sql=query, con=db_engine)

In [28]:
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

* 1

In [15]:
df.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [17]:
df.dtypes

ProductKey                        int64
ProductAlternateKey              object
ProductSubcategoryKey           float64
WeightUnitMeasureCode            object
SizeUnitMeasureCode              object
EnglishProductName               object
SpanishProductName               object
FrenchProductName                object
StandardCost                    float64
FinishedGoodsFlag                 int64
Color                            object
SafetyStockLevel                  int64
ReorderPoint                      int64
ListPrice                       float64
Size                             object
SizeRange                        object
Weight                          float64
DaysToManufacture                 int64
ProductLine                      object
DealerPrice                     float64
Class                            object
Style                            object
ModelName                        object
LargePhoto                       object
EnglishDescription               object
FrenchDescription                object
ChineseDescription               object
ArabicDescription                object
HebrewDescription                object
ThaiDescription                  object
GermanDescription                object
JapaneseDescription              object
TurkishDescription               object
StartDate                datetime64[ns]
EndDate                  datetime64[ns]
Status                           object
dtype: object

In [19]:
df.index

RangeIndex(start=0, stop=606, step=1)

In [21]:
df.head()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [23]:
df.tail()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [25]:
df.sample()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
152,153,LW-8000,NaN,None,None,Lock Washer 3,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [27]:
df.describe()

,ProductKey,ProductSubcategoryKey,StandardCost,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,ListPrice,Weight,DaysToManufacture,DealerPrice,StartDate,EndDate
count,606.00000,397.000000,397.000000,606.000000,606.000000,606.000000,395.000000,282.000000,606.000000,395.000000,606,200
mean,303.50000,12.128463,436.823073,0.655116,495.201320,371.400990,747.661544,56.193227,1.201320,448.597060,2009-07-26 03:12:28.514851328,2008-08-17 14:24:00
min,1.00000,1.000000,0.860000,0.000000,4.000000,3.000000,2.290000,2.120000,0.000000,1.374000,2003-07-01 00:00:00,2007-12-28 00:00:00
25%,152.25000,2.000000,37.120000,0.000000,100.000000,75.000000,69.990000,2.680000,0.000000,41.994000,2003-07-01 00:00:00,2007-12-28 00:00:00
50%,303.50000,13.000000,204.630000,1.000000,500.000000,375.000000,364.090000,15.420000,1.000000,218.454000,2012-07-01 00:00:00,2008-12-27 00:00:00
75%,454.75000,16.000000,660.910000,1.000000,1000.000000,750.000000,1204.320000,24.130000,1.000000,722.594900,2013-07-01 00:00:00,2008-12-27 00:00:00
max,606.00000,37.000000,2171.290000,1.000000,1000.000000,750.000000,3578.270000,1050.000000,4.000000,2146.962000,2013-07-01 00:00:00,2008-12-27 00:00:00
std,175.08141,9.423328,497.343079,0.475723,364.007114,273.005336,838.708359,158.000652,1.508893,503.225071,NaN,NaN

In [29]:
df.nunique()

ProductKey               606
ProductAlternateKey      504
ProductSubcategoryKey     37
WeightUnitMeasureCode      2
SizeUnitMeasureCode        1
EnglishProductName       504
SpanishProductName       238
FrenchProductName        238
StandardCost             131
FinishedGoodsFlag          2
Color                     10
SafetyStockLevel           6
ReorderPoint               6
ListPrice                119
Size                      18
SizeRange                 11
Weight                   127
DaysToManufacture          4
ProductLine                4
DealerPrice              120
Class                      3
Style                      3
ModelName                119
LargePhoto                42
EnglishDescription       114
FrenchDescription        113
ChineseDescription       113
ArabicDescription        113
HebrewDescription        113
ThaiDescription          113
GermanDescription        113
JapaneseDescription      114
TurkishDescription       114
StartDate                  4
EndDate                    2
Status                     1
dtype: int64

In [31]:
df["Color"]

0         NA
1         NA
2         NA
3         NA
4         NA
       ...
601       NA
602       NA
603    Black
604    Black
605    Black
Name: Color, Length: 606, dtype: object

In [65]:
df.loc[ :, ["ProductKey","ListPrice"] ]

     ProductKey  ListPrice
0             1        NaN
1             2        NaN
2             3        NaN
3             4        NaN
4             5        NaN
..          ...        ...
601         602     101.24
602         603     121.49
603         604     539.99
604         605     539.99
605         606     539.99

[606 rows x 2 columns]

In [51]:
df.iloc[1:5, 4:7]

  SizeUnitMeasureCode     EnglishProductName SpanishProductName
1                None           Bearing Ball
2                None        BB Ball Bearing
3                None  Headset Ball Bearings
4                None                  Blade

In [30]:
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [34]:
df.describe()

,ProductKey,ProductSubcategoryKey,StandardCost,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,ListPrice,Weight,DaysToManufacture,DealerPrice,StartDate,EndDate
count,606.00000,397.000000,397.000000,606.000000,606.000000,606.000000,395.000000,282.000000,606.000000,395.000000,606,200
mean,303.50000,12.128463,436.823073,0.655116,495.201320,371.400990,747.661544,56.193227,1.201320,448.597060,2009-07-26 03:12:28.514851328,2008-08-17 14:24:00
min,1.00000,1.000000,0.860000,0.000000,4.000000,3.000000,2.290000,2.120000,0.000000,1.374000,2003-07-01 00:00:00,2007-12-28 00:00:00
25%,152.25000,2.000000,37.120000,0.000000,100.000000,75.000000,69.990000,2.680000,0.000000,41.994000,2003-07-01 00:00:00,2007-12-28 00:00:00
50%,303.50000,13.000000,204.630000,1.000000,500.000000,375.000000,364.090000,15.420000,1.000000,218.454000,2012-07-01 00:00:00,2008-12-27 00:00:00
75%,454.75000,16.000000,660.910000,1.000000,1000.000000,750.000000,1204.320000,24.130000,1.000000,722.594900,2013-07-01 00:00:00,2008-12-27 00:00:00
max,606.00000,37.000000,2171.290000,1.000000,1000.000000,750.000000,3578.270000,1050.000000,4.000000,2146.962000,2013-07-01 00:00:00,2008-12-27 00:00:00
std,175.08141,9.423328,497.343079,0.475723,364.007114,273.005336,838.708359,158.000652,1.508893,503.225071,NaN,NaN

* 2

In [42]:
filtro_peso = df.loc[:,"Weight"] > 100
pesi_massimi=df.loc[filtro_peso, "Weight"]
pesi_massimi.shape

(28,)

In [44]:
pesi_massimi.mean()

454.42857142857144

* 3

In [46]:
filtro_blu= df.loc[:,"Color"] == "Blue"

In [50]:
costi_blue = df.loc[filtro_blu, "DealerPrice" ]

In [52]:
costi_blue.shape

(28,)

In [54]:
costi_blue.max()

1430.442

In [70]:
filtro_taglia = df.loc[:, "Size"] == "42"
filtro_peso = df.loc[:, "Weight"] > 10
filtro = filtro_taglia & filtro_peso

costi_filtro = df.loc [filtro, "DealerPrice" ]
costi_filtro.max()

2039.994

In [74]:
filtro_taglia = df.loc[:, "Size"] == "42"
filtro_peso = df.loc[:, "Weight"] > 10
filtro_colore = df.loc[:, "Color"] == "Silver"

filtro = filtro_taglia & filtro_peso & filtro_colore
df.loc[filtro, ["StandardCost","EnglishProductName"]]

     StandardCost         EnglishProductName
344       1912.15    Mountain-100 Silver, 42
353       1117.86    Mountain-200 Silver, 42
354       1265.62    Mountain-200 Silver, 42
588        419.78  Mountain-400-W Silver, 42
591        308.22    Mountain-500 Silver, 42

# Esercizio W14D4 Parte 2

* 1

In [79]:
import pandas as pd

In [83]:
file_path = "beginner_datasets/iris.csv"
iris = pd.read_csv(file_path)

In [85]:
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [87]:
iris.shape

(150, 5)

In [91]:
file_path = "beginner_datasets/amazon.csv"
amazon = pd.read_csv(file_path)

In [93]:
amazon

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

* Valutiamo la dimensione del dataset

In [95]:
amazon.shape

(20000, 2)

* Visualizziamo dieci righe a caso;

In [97]:
amazon.sample(10)

                                              reviewText  Positive
19507  Feedly is a great app that can find and organi...         1
15335  Works great.  It has LOTS of radio stations an...         1
12574  love this app it is a wonderful little app i h...         1
2897   I don't know what problems everyone else is co...         1
4700   Absolutely loved the game. Easy gameplay, fun,...         1
17262  Great app, free app, love my QVC shopping, eas...         1
9193   This is cool to be able to watch music videos ...         1
3485   I loved this app it was amazing but everytime ...         0
6717   wasn't worth the time or energy to upload it, ...         0
14305  My 18 month old loves this. She will spend hou...         1

* Osserviamo quali sono i nomi di colonna;

In [111]:
amazon.columns

Index(['reviewText', 'Positive'], dtype='object')

* Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [125]:
pos = amazon.loc[:, "Positive"]
pos

0        1
1        1
2        1
3        1
4        1
        ..
19995    0
19996    1
19997    1
19998    1
19999    0
Name: Positive, Length: 20000, dtype: int64

In [127]:
pos.value_counts()

Positive
1    15233
0     4767
Name: count, dtype: int64

In [7]:
import pandas as pd

In [9]:
file_path = "beginner_datasets/pokemon.csv"
pokemon = pd.read_csv(file_path)

In [11]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
filtro = pokemon.duplicated(subset="#")
filtro.value_counts()

False    721
True      79
Name: count, dtype: int64

In [19]:
filtro2 = pokemon.duplicated()
filtro2.value_counts()

False    800
Name: count, dtype: int64

In [21]:
 pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [27]:
filtro_duplicati = pokemon.duplicated(subset="#",keep=False)
pokemon.loc[filtro_duplicati]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

In [29]:
pokemon = pokemon.set_index("#")

In [31]:
pokemon.loc[711]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False